./
../
**/.terraform/*
*.tfstate
*.tfstate.backup
*.lock.hcl
*.pem
*.pub
ec2_key_pair-tf
.terraform/*
.terraform.lock.hcl
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
*.tfvars
.terraform.lock.hcl