./
../
**/.terraform/*
*.tfstate
*.tfstate.backup
*.lock.hcl
*.pem
*.pub
.terraform/*
.terraform.lock.hcl
.terraform/
.terraform
*.tfstate
terraform.tfstate
terraform.tfstate.backup
*.tfstate.*
crash.log
terraform.tfvars
*.tfvars